In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [3]:
import sqlite3
#sqlite3.connect("sqlite:///Census_Data.sqlite")

In [22]:
# reflect an existing database into a new model
engine = create_engine("sqlite:///Census_Data.sqlite")
conn = engine.connect()
query = pd.read_sql("SELECT * FROM Census_Data where Population > 100000 AND city = 'PROVO' ORDER BY 'Median Age' DESC", conn)
#query = pd.read_sql("SELECT * FROM Census_Data where Population > 100000 ORDER BY 'Median Age' DESC", conn)

query.head(30)
#query.keys()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"PROVO, UT",PROVO,UT,115828,102237,715,511,3029,19980,511,...,623,23.833333,24.266667,23.266667,41659.33333,17196.0,754.333333,206733.3333,40.253223,-111.63325

In [5]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [6]:
# We can view all of the classes that automap found
Base.classes.keys()

[]

In [ ]:
session = Session(engine)

In [ ]:
Measurement = Base.classes.measurement
results = session.query(Measurement.date, Measurement.prcp)